<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedCare- AboutUS</title>

    <link rel="stylesheet" href="./static/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }
      .bg {
        background-image: url("medcare-bg.JPG");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      /* Centered text */
      .centered {
        position: absolute;
        font-size: 20px;
        top: 35%;
        left: 70%;
        transform: translate(-30%, -10%);
      }

    </style>

</head>

<body style="background-color:f3edea">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/imgs/logo cropped.JPG" class="img-logo" id="logo" alt="logo" width="250px" height="70px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/templates/index.html">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/medCare.html">SymptomChecker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/aboutUs.html">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="bg">
    <div class="centered">
      <h1 style= "color: #006d97;font-family: Calibri;text-align:center">InfiniHacks Submission</h1>
      <p style= "color:#393e46;font-family:verdana;text-align:center">Alex Li, Lasya Erukulla and Vishrutha Gopa</p>
      <i>
          <p style = "color:#3555a2;font-family:Trebuchet MS;text-align:center">With the increasing number of diseases, there is a greater need for rapid diagnosis and early precaution. 
            This is where MedCare can help. MedCare is a web application that collects data on the symptoms that a user is experiencing. 
            The self-diagnosis tool provides a range of diagnoses based on the user's experiences using sophisticated computer algorithms.
            Not only does MedCare provide you with an early prediction, but it can also provide your doctor with new diagnostic options. 
            MedCare can help you save a lot of time and mental stress.
          </p>
          
      </i>
    </div>
  </div>

   

    <script src="/scripts/scripts.js"> </script>


</body>

</html>