/* NAV BAR */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  overflow: hidden;
  background-color: #6671ec;
  position: -webkit-sticky; /* Safari */
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: right;
  font-size: 30px;
  padding: 28px 30px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  /*HOVERING */
  text-align: right;
  background-color: #42b2e7;
}

.active {
  /*ACTIVE TAB */
  text-align: right;
  background-color: #ffffff;
}

/*SYMPTOM CHECKER */
.container {
  margin-top: 40px;
  border: 3px solid rgb(103, 228, 221);
  width: 100vw;
  height: 90vh;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

/*ROUGH STARTS*/

/* Form */
form {
  margin: 30px;
}
.input-field {
  border-radius: 25px;
  position: center;
  width: 100%;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: -10;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  text-align: center;
  border: 0;
  outline: 0;
  padding: 2.5rem 0;
  border-bottom: 2px solid #f3edea;
  box-shadow: none;
  color: #111;
}

::placeholder {
  color: blue;
  opacity: 0.5;
}

.button {
  width: 15vw;
  height: 5vh;
  border-radius: 25px;
  font-family: verdana;
  font-weight: bold;
  border-color: #42b2e7;
  color: #42b2e7;
  box-shadow: 0 0 40px 40px #006d97 inset, 0 0 0 0 #006d97;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  display: inline-block;
}

.button:hover {
  box-shadow: 0 0 10px 0 #006d97 inset, 0 0 10px 4px #006d97;
  color: #63a8ce;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 42vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
  border-collapse: collapse;
}

#topleft,
#bottomright {
  border: solid 1px black;
}

#topleft {
  border-left-style: none;
  border-top-style: none;
}

#bottomright {
  border-right-style: none;
  border-bottom-style: none;
}
